#header {
   text-align: center; 
   top: 0%;
   left: 23.5%;
   font-family: 'Bungee Shade'; 
   font-size: 36pt;
   line-height: 0%;
   position: absolute;
}
p {
	text-align: center;
	color: #FFC828;
}
#login{
	text-align: left;
	position: absolute;
	top: 0%;
	opacity: 0;
}
#question {
	top: 60%;
	font-size: 24pt;
	/*font-family: Arial;*/
}
h1 {
	color: #FFC828;
}
body {
	background-color: #9E1D32;
}
a {
	color: #FFC828;
	text-decoration: none;
}

.caption {
	text-align: center;
	/*transform: translate(-50%, 0%);*/
}

.studPic {
	position: absolute;
	height: 300px;
	top: 40%;
	left: 25%;
	transform: translate(-55%, 0%);
}

.gameDay {
	position: absolute;
	height: 300px;
	top: 40%;
	left: 50%;
	transform: translate(-50%, 0%);
}

.professor {
	position: absolute;
	height: 300px;
	top: 40%;
	left: 75%;
	transform: translate(-45%, 0%);

}

.logIn{
	position: absolute;
	top: 18%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #9E1D32;
	background-color: #FFC828;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}