table {
/*    position: relative;*/
/*    left: 27%;*/
    border: 6px solid #FFC828;
    border-collapse: collapse; /*Collapse gives a single line as opposed to double bordered tables*/
    margin-right: auto;
    margin-left: auto;
}
table td img {
    height: 90px;
    width: 90px;
    position: absolute;
    left: 5px;
    opacity: 0;
    top: 6px;
    
}
#login{
    text-align: left;
    position: absolute;
    top: 0%;
    opacity: 0;
    color: #FFC828;
}
.c {
    z-index: 100;
}
.d {
    z-index: 1;
}
.x {
    z-index: 50;
}
td { /*The comma allows you to apply the same set of CSS to more tags*/
    border: 2px solid #FFC828;
    height: 100px;
    width: 100px;
    text-align: center;
    position: relative;    
}
th {/*You can be more specific with th using principles of inheritance*/
    background-color: #b9c9fe;
}
td {
    background-color: white;
}
td:hover {/*Hover pseudo-class. When I hover with my mouse over a table row, do this*/
    background-color: #f2f2f2;
}

body {
    background-color: #9E1D32;
}
#bingoTitle {
    color: #FFC828;
    font-family: 'Bungee Shade';
    text-align: center;
}
#youWin {
    text-align: center;
    font-size: 35px;
    opacity: 0;
}

#playAgain {
    display: none;
}

.outOfBoxText {
    color: #FFC828;
}
a {
    color: #FFC828;
    text-decoration: none;
}